# EULER PROBLEM 10

The sum of the primes below $10$ is $2 + 3 + 5 + 7 = 17.$

$$\int_a^b \dotsi$$

Find the sum of all the primes below two million.

## The plan:
Because python can be a little slow at generating prime numbers on the fly (at least in my past experience), and because there are already large lists of primes avaliable on the internet, we will just import a table of primes. A little bit of clean up will be necessary.

In [2]:
import pandas as pd

In [6]:
file_path1 = r'C:\Users\gmohacsi\Documents\Python Scripts\DATA\primes1'
file_path2 = r'C:\Users\gmohacsi\Documents\Python Scripts\DATA\primes2'
extension = r'.txt'
primes1 = pd.read_csv(file_path1 + extension, skiprows = 1, header = None, sep=r"\s*")

C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\io\parsers.py:2108: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\io\parsers.py:2110: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

In [7]:
primes1.head()

     0    1    2    3    4    5    6    7
0    2    3    5    7   11   13   17   19
1   23   29   31   37   41   43   47   53
2   59   61   67   71   73   79   83   89
3   97  101  103  107  109  113  127  131
4  137  139  149  151  157  163  167  173

In [8]:
primes1.to_csv(file_path1 + "_tabs" + extension, sep = '\t', header = None, index = None)

In [9]:
file_path2 = r'C:\Users\gmohacsi\Documents\Python Scripts\DATA\primes2'
primes2 = pd.read_csv(file_path2 + extension, skiprows = 1, header = None, sep=r"\s*")

C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\io\parsers.py:2108: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\io\parsers.py:2110: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

In [10]:
primes2.tail()

,0,1,2,3,4,5,6,7
124995,32452157,32452177,32452181,32452193,32452207,32452213,32452261,32452283
124996,32452289,32452309,32452339,32452391,32452397,32452447,32452451,32452457
124997,32452477,32452493,32452501,32452531,32452547,32452559,32452571,32452577
124998,32452579,32452591,32452597,32452621,32452631,32452649,32452657,32452681
124999,32452687,32452727,32452759,32452781,32452789,32452837,32452841,32452843

In [11]:
all_primes = primes1.append(primes2, ignore_index = True)

In [32]:
all_primes.head()

     0    1    2    3    4    5    6    7
0    2    3    5    7   11   13   17   19
1   23   29   31   37   41   43   47   53
2   59   61   67   71   73   79   83   89
3   97  101  103  107  109  113  127  131
4  137  139  149  151  157  163  167  173

In [22]:
all_primes.count().sum()

2000000

In [42]:
#for x in [0,1,2,3,4,5,6,7]:
col_0 = all_primes.loc[:,0]
col_0.loc[col_0 < 2000000].sum()

17864102854

In [43]:
col_1 = all_primes.loc[:,1]
col_1.loc[col_1 < 2000000].sum()

17864354391

In [44]:
col_2 = all_primes.loc[:,2]
col_2.loc[col_2 < 2000000].sum()

17864603539

In [45]:
col_3 = all_primes.loc[:,3]
col_3.loc[col_3 < 2000000].sum()

17864853309

In [46]:
col_4 = all_primes.loc[:,4]
col_4.loc[col_4 < 2000000].sum()

17865101697

In [47]:
col_5 = all_primes.loc[:,5]
col_5.loc[col_5 < 2000000].sum()

17863354994

In [48]:
col_6 = all_primes.loc[:,6]
col_6.loc[col_6 < 2000000].sum()

17863603778

In [49]:
col_7 = all_primes.loc[:,7]
col_7.loc[col_7 < 2000000].sum()

17863854360

In [50]:
17864102854 + 17864354391 + 17864603539 + 17864853309 + 17865101697 + 17863354994 + 17863603778 + 17863854360

142913828922

df2 = all_primes.loc[:,:]