# EULER PROBLEM 10

The sum of the primes below $10$ is $2 + 3 + 5 + 7 = 17.$

Find the sum of all the primes below two million.

## The plan:
Because python can be a little slow at generating prime numbers on the fly (at least in my past experience), and because there are already large lists of primes avaliable on the internet, we will just import a table of primes. A little bit of clean up will be necessary.

In [1]:
import pandas as pd

In [24]:
file_path = r'C:\Users\gmohacsi\Documents\Python Scripts\DATA\primes1'
extension = r'.txt'
primes1 = pd.read_csv(file_path + extension, skiprows = 1, header = None, sep=r"\s*")

C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\io\parsers.py:2108: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
C:\Users\gmohacsi\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\io\parsers.py:2110: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

In [25]:
primes1.head()

     0    1    2    3    4    5    6    7
0    2    3    5    7   11   13   17   19
1   23   29   31   37   41   43   47   53
2   59   61   67   71   73   79   83   89
3   97  101  103  107  109  113  127  131
4  137  139  149  151  157  163  167  173

In [28]:
primes1.to_csv(file_path + "_tabs" + extension, sep = '\t', header = None, index = None)